@section Scripts{
    <link rel="stylesheet" href="~/css/gestionReserva.css"/>
    <style>
        .navbar-brand img {
            filter: none !important
        }

        .navbar-light .navbar-nav .nav-link {
            color: black !important
        }
    </style>
}
<div class="py-5"></div>
<p class="fs-2 text-center fw-bold">Inicia Sesión</p>
<form method="post" class="container py-3 mb-5" style="height:600px;background-color:#a4a4a41f;">
    <div class="row h-100 shadow d-flex align-items-center justify-content-center">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="w-75 mb-3 px-3 mb-3">
                <label class="fs-4 mb-3">Email</label>
                <input type="text" name="email" class="form-control" />
            </div>
            <div class="w-75 mb-3 px-3">
                <label class="fs-4 mb-3">Password</label>
                <input type="password" name="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        </div>
        <div id="form-img" class="col-md-6 h-75">
        </div>
    </div>
</form>