@{
    Layout = "_PanelAdminLayout";
}
<form method="post" class="container py-3 mb-5" style="background-color:#a4a4a41f;">
    <div class="row h-100 shadow d-flex align-items-center justify-content-center p-4">
        <div class="col d-flex flex-column align-items-center justify-content-center">
            
            <div class="w-75 mb-3 px-3">
                <label class="fs-4 mb-3">Modelo</label>
                <input type="text" name="modelo" class="form-control" />
            </div>
            <div class="w-75 mb-3 px-3">
                <label class="fs-4 mb-3">Capacidad</label>
                <input type="number" name="capacidad" class="form-control" />
            </div>
            <div class="w-75 mb-3 px-3">
                <label class="fs-4 mb-3">Velocidad</label>
                <input type="number" name="velocidad" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </div>
</form>