@model ModelVueloAsientos

<div class="container">
    <div class="plane">
        <div class="cockpit">
        </div>
        <div class="exit exit--front fuselage"></div>
        <ol class="cabin fuselage" id="cabin"></ol>
    </div>
</div>
