<div class="container">
    <div id="container-content">
        <div id="seat-map">
            <div class="front-indicator">CABINA</div>
        </div>
        <div class="booking-details">
            <h2>Booking Details</h2>
            <h3>Selected Seats (<span id="counter">0</span>):</h3>
            <ul id="selected-seats"></ul>
            Total: <b>$<span id="total">0</span></b>
            <button class="checkout-button">Checkout &raquo;</button>
            <div id="legend"></div>
        </div>
    </div>
</div>