@model BilleteVueloView
<style>
    .navbar-brand img {
        filter:none !important
    }

    .navbar-light .navbar-nav .nav-link {
        color:black !important
    }
</style>
<div class="container py-5"></div>
<div id="content">
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#content").load("/Vuelos/BilletePartial?idBillete=" + @Model.IdBillete)
    })
</script>